# Практическое задание 3

## по теме: "Описательная статистика. Качественные и количественные характеристики популяции. Графическое представление данных"

### Задача 1.
Даны значения зарплат из выборки выпускников: 100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150. Посчитать (желательно без использования статистических методов наподобие std, var, mean) среднее арифметическое, среднее квадратичное отклонение, смещенную и несмещенную оценки дисперсий для данной выборки.

In [1]:
salary = [100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150]

In [2]:
import pandas as pd

In [3]:
salary_df = pd.DataFrame(salary)

In [4]:
salary_df

      0
0   100
1    80
2    75
3    77
4    89
5    33
6    45
7    25
8    65
9    17
10   30
11   24
12   57
13   55
14   70
15   75
16   65
17   84
18   90
19  150

Считаем **среднее арефметическое**:

In [5]:
mean_salary = salary_df.sum() / salary_df.count()
mean_salary

0    65.3
dtype: float64

Считаем **среднее квадратичное отклонение**:

$$\sigma = \sqrt{\frac{\sum\limits_{i=1}^{n} (x_i - \overline{x})^2}{n}}$$

In [6]:
import numpy as np

In [7]:
salary_std = np.sqrt(((salary_df - mean_salary)**2).sum() / salary_df.count())
salary_std

0    30.823854
dtype: float64

Найдем **смещенную оценку дисперсии** для данной выборки:

$$\sigma^2 = \frac{\sum\limits_{i=1}^{n} (x_i - \overline{x})^2}{n}$$

In [8]:
dispersion = salary_std ** 2
dispersion

0    950.11
dtype: float64

Найдем **несмещенную оценку дисперсии** для данной выборки:

$$\sigma^2_{несмещ.} = \frac{\sum\limits_{i=1}^{n} (x_i - \overline{x})^2}{n - 1}$$

In [9]:
dispersion_1 = ((salary_df - mean_salary)**2).sum() / (salary_df.count() - 1)
dispersion_1

0    1000.115789
dtype: float64

### Задача 2.
В первом ящике находится 8 мячей, из которых 5 - белые. Во втором ящике - 12 мячей, из которых 5 белых. Из первого ящика вытаскивают случайным образом два мяча, из второго - 4. Какова вероятность того, что 3 мяча белые?

In [10]:
from math import factorial

In [11]:
def combinations(n, k):
    return factorial(n) / (factorial(k) * factorial(n - k))

In [12]:
print(f'{(combinations(3, 2) * combinations(5, 3) * combinations(7, 1) + combinations(5, 1) * combinations(3, 1) * combinations(7, 2) *combinations(5, 2) + combinations(5, 2) * combinations(5, 1) * combinations(7, 3)) / (combinations(8, 2) * combinations(12, 4)):.2%}')

36.87%

### Задача 3.
На соревновании по биатлону один из трех спортсменов стреляет и попадает в мишень. Вероятность попадания для первого спортсмена равна 0.9, для второго — 0.8, для третьего — 0.6. Найти вероятность того, что выстрел произведен: a). первым спортсменом б). вторым спортсменом в). третьим спортсменом.

a) вероятность того, что выстрел произведен первым спортсменом:

In [13]:
print(f'{(1 / 3 * 0.9):.1%}')

30.0%

б) вероятность того, что выстрел произведен вторым спортсменом:

In [14]:
print(f'{(1 / 3 * 0.8):.1%}')

26.7%

в) вероятность того, что выстрел произведен третьим спортсменом:

In [15]:
print(f'{(1 / 3 * 0.6):.1%}')

20.0%

### Задача 4.
В университет на факультеты A и B поступило равное количество студентов, а на факультет C студентов поступило столько же, сколько на A и B вместе. Вероятность того, что студент факультета A сдаст первую сессию, равна 0.8. Для студента факультета B эта вероятность равна 0.7, а для студента факультета C - 0.9. Студент сдал первую сессию. Какова вероятность, что он учится: a). на факультете A б). на факультете B в). на факультете C?

а) вероятность того, что студент учится на факультете A

In [16]:
print(f'{(1 / 4 * 0.8):.1%}')

20.0%

б) вероятность того, что студент учится на факультете В

In [17]:
print(f'{(1 / 4 * 0.7):.1%}')

17.5%

c) вероятность того, что студент учится на факультете С

In [18]:
print(f'{(1 / 2 * 0.9):.1%}')

45.0%

### Задача 5.
Устройство состоит из трех деталей. Для первой детали вероятность выйти из строя в первый месяц равна 0.1, для второй - 0.2, для третьей - 0.25. Какова вероятность того, что в первый месяц выйдут из строя: а). все детали б). только две детали в). хотя бы одна деталь г). от одной до двух деталей?

а) вероятность того, что в первый месяц выйдут из строя все детали

In [19]:
print(f'{(0.1 * 0.2 * 0.25):.1%}')

0.5%

б) вероятность того, что в первый месяц выйдут из строя только две детали

In [20]:
print(f'{(0.1 * 0.2 * 0.75 + 0.1 * 0.8 * 0.25 + 0.9 * 0.2 * 0.25):.1%}')

8.0%

в) вероятность того, что в первый месяц выйдет из строя хотя бы одна деталь

In [21]:
print(f'{(1 - 0.9 * 0.8 * 0.75):.1%}')

46.0%

г) вероятность того, что в первый месяц выйдут из строя от одной до двух деталей

In [22]:
print(f'{(1 - (0.1 * 0.2 * 0.25 + 0.9 * 0.8 * 0.75)):.1%}')

45.5%